@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Work+Sans&display=swap');

:root {
    --container-height: 100%;
    --contaier-width: 400px;
    --header-height: 140px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: 20px;
}
  
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container {
    width: var(--contaier-width);
    height: var(--container-height);
    position: relative;
    overflow: auto;
    background-image:url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: 1px solid #aea9a9;
    border-radius: 10px;
    box-shadow: 4px 5px 4px #888888;
    margin: 10px 0 10px 0;
}

header {
    width: 100%;
    height: var(--header-height);
    background-size: cover;
    border-radius: 5px 5px 0 0;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #605959;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    margin-top: 10px;
}

.to-do-div-form {
    width: 100%;
    height: 50px;
    padding: 0.25rem 0;
}

.to-do-div-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-do-div-form form input {
    flex: 1;
    height: 40px;
    background-color: transparent;
    border: none;
    border-right: 0px;
    outline: transparent;
    padding-left: 0.5rem;
    font-size: 1rem;
    color: #756D6D;
    margin-top: 10px;
}

fieldset {
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #000000;
}

.to-do-div-form form button {
    width: 60px;
    height: 40px;
    font-size: 1rem;
    background-color: transparent;
    color: #87b8b6;
    border: none;
    border-left: 0px;
    cursor: pointer;
}

.to-do-div-form form button:hover {
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
}

#to-do-list {
    height: calc(var(--container-height) - var(--header-height));
    background-color: transparent;
    height: auto;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
    font-family: 'Work Sans', sans-serif;
    overflow: auto;
}

#to-do-list .to-do-items {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
}

#to-do-list .to-do-items:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#to-do-list .to-do-items * {
    cursor: pointer;
    margin-right: 0.5rem;
}

#to-do-list .to-do-items p {
    flex: 1;
    word-break: break-all;
    
}

#button-clear {
    display: inline-block;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    color: #756D6D;
    font-weight: 400;
    padding: 10px 10px;
    border-radius: 9px;
    border: 1px dashed #756D6D;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px 0 10px 15px;
    background-color: transparent;
}

#button-clear:hover {
  color: #fff;
  background-color: #a1dbd9;
}